{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
      <p class="lead fw-normal text-white-50 mb-0">View your cart...</p>
    </div>
  </div>
</header>
<div class="container">
  {% if cart_products %} {% for product in cart_products %}
  <div class="row m-5">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{product.image.url}}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <!-- Product Title -->
            <h5 class="card-title">{{product.name}}</h5>
            <!-- Product Desciption -->
            <p class="card-text">{{product.description}}</p>
            <!-- Product Price - Check if on sale -->
            <p class="card-text"></p>
            {% if product.is_sale %}
              <s>${{product.price}}</s> ${{product.sale_price}}
            {% else %}
              ${{product.price}}
            {% endif %}
            </p>
            <!-- Product Quantity Selector -->
            <div class="row justify-content-left mb-5">
              <div class="col-md-2 align-content-center">Quantity:</div>
              <div class="col-md-4">
                <select class="form-select" id="select{{product.id}}">
                  {% for key, value in product_quantities.items %} 
                      {% if key == product.id|slugify %}
                        <option selected>{{value}}</option>
                      {% endif %}
                  {% endfor %}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <!-- Update Cart Button -->
            <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-card">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <center>
    <div class="m-5 p-5">
      Your cart is empty. Checkout our products
      <a href="{% url 'home' %}">here</a>
    </div>
  </center>
  {% endif %}
</div>

<script>
  $(document).on("click", ".update-card", function (e) {
    e.preventDefault();
    const productid = $(this).data('index');
    
    $.ajax({
      type: "POST",
      url: "{% url 'cart_update' %}",
      data: {
        product_id: $(this).data('index'),
        product_qty: $("#select" + productid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        location.reload();
      },

      error: function (xhr, errmsg, err) {},
    });
  });
</script>

{% endblock %}