{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row m-5">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{product.image.url}}"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <!-- Product Title -->
            <h5 class="card-title">{{product.name}}</h5>
            <!-- Product Desciption -->
            <p class="card-text">{{product.description}}</p>
            <!-- Product Price - Check if on sale -->
            {% if product.is_sale %}
            <p class="card-text">
              <s>${{product.price}}</s> ${{product.sale_price}}
            </p>
            {% else %}
            <p class="card-text">${{product.price}}</p>
            {% endif %}

            <!-- Product Quantity Selector -->
            <div class="row justify-content-left mb-5">
              <div class="col-md-2 align-content-center">Quantity:</div>
              <div class="col-md-4">
                <select class="form-select" id="product-qty-selector">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <!-- Product Add to Cart button -->
            <button
              type="button"
              value="{{product.id}}"
              class="btn btn-secondary"
              id="add-cart"
            >
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Add product to cart
  $(document).on("click", "#add-cart", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart_add' %}",
      data: {
        product_id: $("#add-cart").val(),
        product_qty: $("#product-qty-selector option:selected").text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: "post",
      },
      success: function (json) {
        document.getElementById("cart_quantity").textContent = json.qty;
        location.reload();
      },

      error: function (xhr, errmsg, err) {},
    });
  });
</script>
{% endblock %}
