{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Reset Password</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Reset your password using the form below
      </p>
    </div>
    <center>
      <form
        class="mt-5 col-md-4"
        method="POST"
        action="{% url 'update_password'%}"
      >
        {% csrf_token %} {{ form.as_p }}
        <br />
        <button type="submit" class="btn btn-primary">Reset</button>
      </form>
    </center>
  </div>
  <div class="text-center text-white">
    <p class="lead fw-normal text-white-50 mb-0">
      Already have an account? click to
      <a href="{% url 'login' %}">login</a>
    </p>
    <p class="lead fw-normal text-white-50 mb-0">
      <a href="{% url 'update_user' %}">Update Profile</a>
    </p>
  </div>
</header>
{% endblock %}
